<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AngularJS-PBus</title>
  
  <link rel="stylesheet" href="table.css">

  <script src="res/angular.min.js"></script>
  <script src="res/jquery@3.4.1.js"></script>

  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="py-3">
<!-- AngularJS App Container -->
<div ng-app="myApp" ng-controller="customersCtrl" ng-init="mySwitch=false" class="container">

  <table class="table table-hover table-striped text-center">
    <tr class="text-uppercase">
      <th ng-click="orderByMe('mashrut')" class="h5">Mashrut</th>
      <th ng-click="orderByMe('num')">Num</th>
      <th ng-click="orderByMe('outTime')">outTime</th>
      <th ng-click="orderByMe('inTime')">inTime</th>
      <th ng-click="orderByMe('name')" colspan="2">Ism va Familiya</th>
    </tr>
    <tr ng-repeat="x in names | orderBy:myOrderBy" class="center">
      <td><button ng-disabled="mySwitch">{{x.mashrut}}</button></td>
      <td>
        <button ng-disabled="mySwitch">{{x.num}}</button>
      </td>
      <td><button ng-disabled="mySwitch">{{x.outTime}}</button></td>
      <td><button ng-disabled="mySwitch">{{x.inTime}}</button></td>      
      <td><button ng-disabled="mySwitch">{{x.name}}</button></td>   
      <td><input type="checkbox" ng-model="mySwitch" id="mySwitch" /></td>
    </tr>
  </table>

<div class="row">
  <div class="col-6">
   <section class="autoPostion">
   <h3>autoPostion</h3>
   <div ng-init="num=['232', '914 aylanib keladi va nazoratga olishim kerak']">
     <ul>
       <li ng-repeat="x in num">
         {{ x }}
       </li>
     </ul>
   </div>
  </section>   
  </div>
  
  <div class="col-6">
  <section class="autoPostion-2">
  <b>Tepaga ketadi mashrut: 82 lar bilan</b>
  <div ng-init="num2=['933','877','920', '921', '406', '012']">
    <ul>
      <li ng-repeat="x in num2">
        {{ x }}
      </li>
    </ul>
  </div>
  </section>
  </div>
</div>



<div class="gray">
  <p>947 chap tarafdagi qizil avtobus oldiga.</p>
  <p>944 va 964 lar yonma-yon.</p>
</div>


</div> <!-- /ng-app close -->

<script>
  var app = angular.module('myApp', []);
  app.controller('customersCtrl', function($scope, $http) {
    $http.get("/json/pbus.json")
      .then(function(response) { $scope.names = response.data.pbus; });
    $scope.orderByMe = function(x) {
        $scope.myOrderBy = x;
      }
    document.cookie =  document.querySelector('#mySwitch');
  });
</script>

<!--bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>